.comment-list {
  width: 540px;
  margin-top: 32px;
}

.comments-list {
  width: 100%;
  margin-left: 20px;
}

.comments-list > div {
  width: calc(100% - 16px);
}

.comment-item {
  animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
  from {
    opacity: 0.9;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
