<div class="flex flex-col items-center justify-center comment-list">
  <app-comment-list
    [comments]="comments"
    [posted]="posted"
    [enableNoCommentsMessageWhenEmpty]="enableNoCommentsMessageWhenEmpty"
  ></app-comment-list>

  @if (posted && comments.length === 0) {
  <div class="flex items-center justify-center w-full mt-4">
    <span class="text-sm text-gray-400">Sending... Please wait...</span>
    <span class="loading loading-spinner loading-sm"></span>
  </div>
  } @else if (posted && comments.length > 0) {
  <div class="flex items-center justify-center w-full mt-8">
    <span class="text-sm text-gray-400">Waiting for more comments...</span>
    <span class="loading loading-spinner loading-sm"></span>
  </div>
  }
</div>
