textarea {
  resize: none;
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.bot-card {
  margin-top: 64px;
  width: 640px;
  transform: translateY(240px);
}

.posted {
  transform: translateY(0);
  transition: transform 0.5s ease-in-out;
}
