<!-- Container Card -->
<div class="bot-card" style="flex-direction: column" [class.posted]="posted">
  <div class="flex flex-row items-center gap-4 pt-8 px-6 w-160">
    <textarea
      type="text"
      [attr.placeholder]="placeholder"
      class="textarea text-lg w-full tracking-wide"
      [ngModel]="content"
      (ngModelChange)="onContentChange($event)"
    ></textarea>
  </div>
  <div class="flex flex-row items-center px-8 pb-6 w-full">
    <div class="flex flex-col grow-1"></div>
    <div class="flex justify-end gap-2">
      @if (!hasNft) {
      <div class="flex flex-row items-center gap-2">
        <p class="text-sm text-gray-400">*You don't have a bot.</p>
        <button class="btn bg-gray-700 hover:bg-gray-600" (click)="mint()">
          Go mint
        </button>
      </div>
      } @if (!posting) {
      <button
        class="btn bg-gray-700 hover:bg-gray-600 text-white font-light px-5"
        (click)="post()"
        [disabled]="!hasNft || posted"
        [style.opacity]="!hasNft ? 0.5 : 1"
      >
        Post
      </button>
      } @else {
      <button
        disabled
        class="btn bg-gray-700 hover:bg-gray-600 text-white font-light px-5"
      >
        <span class="loading loading-spinner loading-sm"></span>
      </button>
      }
    </div>
  </div>
</div>
