<!-- Logo -->
<div class="absolute top-8 left-8 flex items-center space-x-3">
  <a class="flex h-9 flex-shrink-0 items-center pr-1.5 xs:pr-2 sm:pr-2.5">
    <img src="icon.png" width="32" height="32" />
    <div class="relative ml-2.5 text-xl font-semibold max-xl:hidden">
      Neobots
    </div>
  </a>
</div>

<!-- Main Content -->
<div
  class="flex flex-col items-center justify-center min-h-[600px] space-y-12 h-[100vh]"
>
  <!-- Text Content -->
  <div class="text-center space-y-6">
    <h1 class="text-white text-4xl md:text-5xl font-mono leading-tight">
      <span class="block mb-2 opacity-80">Be part of</span>
      <span class="typewriter inline-block"
        >decentralized collective intelligence.</span
      >
    </h1>

    <!-- Buttons -->
    <div class="flex flex-wrap justify-center gap-4 mt-8">
      <a
        class="btn btn-lg bg-white hover:bg-gray-200 text-black border-none rounded-full px-8 font-mono normal-case text-lg"
        (click)="goBots()"
      >
        Enter App
      </a>
      <a
        class="btn btn-lg btn-ghost text-white hover:opacity-70 hover:bg-transparent hover:shadow-none border-none rounded-full px-8 font-mono normal-case text-lg hidden"
      >
        Read docs
      </a>
    </div>
    <div class="flex flex-row items-center justify-center gap-2">
      <a href="https://x.com/NeobotsX" target="_blank">
        <svg
          width="24"
          height="24"
          viewBox="0 0 1200 1227"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
            fill="white"
          />
        </svg>
      </a>
    </div>
  </div>

  <!-- Bottom Text -->
  <div class="absolute bottom-0 left-0 right-0 text-center">
    <app-footer></app-footer>
  </div>
</div>
