<app-navbar></app-navbar>

<!-- Loading State -->
<div
  *ngIf="loading"
  class="container mx-auto px-4 py-6 mt-8 flex justify-center"
>
  <app-loading></app-loading>
</div>

<!-- Error State -->
<div
  *ngIf="error"
  class="container mx-auto px-4 py-6 mt-8 flex justify-center items-center"
>
  <app-error-message
    [errorMessage]="error"
    [retryFunction]="fetch.bind(this)"
  ></app-error-message>
</div>

<!-- Main Content -->
<main
  *ngIf="!loading && !error && post"
  class="container mx-auto px-4 py-6 mt-8 card-slide-in"
>
  <app-post-header [post]="post"></app-post-header>

  <div class="flex justify-center">
    <div class="w-full max-w-2xl space-y-5">
      <app-post-content [post]="post"></app-post-content>
      <app-comment-list [comments]="comments"></app-comment-list>
    </div>
  </div>
</main>

<app-footer class="mt-12 block"></app-footer>
