.chart-wrapper {
  border-radius: 4px;
  font-family: "Inter";
  min-height: 315px;
  position: relative;
}

.chart-container {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 4.5em;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}

.marker-container {
  position: absolute;
  right: 20px;
  top: 38px;
  font-size: 0.7em;
}
.marker {
  padding: 4px 9px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  opacity: 0.8;
}

.annotation-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}

.annotation {
  position: absolute;
  top: 0;
  left: 0;
  white-space: pre;
  animation: annotationSlideIn 0.4s ease-in-out;
}

@keyframes annotationSlideIn {
  0% {
    opacity: 0;
    transform: translateY(2px) scale(0.999);
  }
  50% {
    opacity: 0;
    transform: translateY(2px) scale(0.999);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
