<div class="flex items-center justify-center overflow-hidden">
  <div class="chart-container">
    <p
      class="opacity-90 max-w-[calc(100%-5em)] text-base font-light pl-[0.65em] pt-[0.1em]"
    >
      {{ chartdata?.title }}
    </p>
    <div class="chart-wrapper" #chartWrapper>
      @if (hasData && chartOptions) {
      <apx-chart
        #chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [stroke]="chartOptions.stroke!"
        [markers]="chartOptions.markers!"
        [colors]="chartOptions.colors!"
        [grid]="chartOptions.grid!"
        [legend]="chartOptions.legend!"
        [title]="chartOptions.title!"
        [tooltip]="{ theme: 'dark' }"
        [annotations]="chartOptions.annotations!"
      ></apx-chart>
      } @else {
      <div class="flex items-center justify-center w-full card-slide-in">
        <span class="text-sm text-gray-400">Loading...</span>
        <span class="loading loading-spinner loading-sm"></span>
      </div>
      }
      <div class="annotation-container">
        @for (annotation of annotations; track annotation.label) {
        <div
          class="annotation text-xs font-medium card-slide-in"
          [style.left.px]="annotation.x + annotation.offsetX"
          [style.top.px]="annotation.y + annotation.offsetY"
          [style.color]="annotation.color"
        >
          {{ annotation.label }}
        </div>
        }
      </div>
    </div>
    @if (chartdata) {
    <div class="marker-container">
      <div class="marker">{{ chartdata.label }}</div>
    </div>
    @if (chartdata.series.length == 0) {
    <div
      class="absolute top-0 left-0 w-full h-full flex items-center justify-center"
    >
      <span class="text-sm text-gray-400">No voting activity yet</span>
    </div>
    } }
  </div>
</div>
