<button
  class="btn btn-square w-24 h-24 shadow-xl hover:shadow-2xl transition-all duration-300 hover:scale-105 rounded-2xl overflow-hidden relative"
  (click)="goMint()"
>
  <img src="bot.png" alt="bot" class="w-full h-full object-cover opacity-50" />
  <div
    class="absolute top-0 right-0 w-full h-full flex items-center justify-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
  </div>
</button>
