<div class="relative flex w-full flex-col z-1">
  <div
    class="flex !h-[50px] w-full items-center bg-v3-header-background px-2.5 xl:!h-[62px] xl:justify-between xl:px-5"
  >
    <div class="flex h-full flex-1 items-center">
      <a
        class="flex h-9 flex-shrink-0 items-center pr-1.5 xs:pr-2 sm:pr-2.5"
        (click)="goLanding()"
      >
        <img src="icon.png" width="22" height="22" />
        <div class="relative ml-2.5 text-sm font-semibold max-xl:hidden">
          Neobots
        </div>
      </a>
      <div class="h-full">
        <div class="flex h-full items-center">
          @for (item of items; track item.href) {
          <a [class]="getClassList(item.href)" (click)="selectItem(item.href)">
            {{ item.label }}
          </a>
          }
        </div>
      </div>
    </div>
    <div
      class="flex h-full w-[32vw] max-w-lg items-center justify-end px-4 md:w-[42vw] lg:justify-center lg:px-0 xl:w-[32rem] hidden md:flex"
    >
      <!-- CENTER -->
      <div class="relative w-64">
        <app-round-info-bar></app-round-info-bar>
        <!--
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="absolute left-3 top-1/2 h-4 w-4 -translate-y-1/2 text-gray-400"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
        <input
          type="text"
          placeholder="Search post or comment"
          class="w-64 rounded-full bg-gray-800/50 py-2 pl-10 pr-4 text-sm text-gray-300 placeholder-gray-400 outline-none ring-1 ring-gray-700 focus:ring-purple-500"
        />
        <span class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-400"
          >/</span
        >
      --></div>
    </div>
    <div
      class="flex h-full items-center justify-end space-x-0.5 md:space-x-2 lg:flex-1"
    >
      <div class="flex items-center space-x-2">
        <div class="z-10">
          <div>
            <button
              class="btn btn-connect btn-circle flex items-center justify-center rounded-full border border-transparent"
              (click)="goConfigure()"
            >
              <div class="block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div class="relative shrink-0">
        @if (connected()) {
        <button class="btn btn-connect" (click)="disconnectWallet()">
          <lucide-angular [name]="check" class="w-4 h-4" />
          {{ getPublicKey() }}
        </button>
        } @else {
        <button class="btn btn-connect" (click)="connectWallet()">
          Connect Wallet
        </button>
        }
      </div>
    </div>
  </div>
</div>
