<div class="flex min-h-screen w-screen flex-col items-center pb-20">
  <app-navbar></app-navbar>
  <div class="flex flex-col items-center justify-center h-full grow-1">
    @if (!nfts) {
    <p>Loading</p>
    } @else if (nfts.length === 0) {
    <app-btn-create-bot></app-btn-create-bot>
    } @else {
    <div class="flex h-32"></div>

    <!-- Container Card -->
    <div class="bot-card transform translate-y-[-80px]">
      <!-- Left Section -->
      <div class="px-10 py-14 left-panel-margin">
        <div class="flex flex-col items-center text-center space-y-4">
          <!-- Avatar -->
          <div class="avatar">
            <div class="w-30 rounded-2xl">
              <img src="bot.png" alt="ghost avatar" />
            </div>
          </div>

          <!-- Username -->
          <h2 class="">lenarano</h2>

          <!-- Container for the 2x2 layout -->
          <div class="grid grid-cols-2 gap-x-8 gap-y-3 pt-2 pb-2">
            <!-- 1) Posts ring -->
            <div class="flex items-center space-x-2">
              <app-ring
                class="w-8 h-8"
                percentage="80"
                from="#3b82f6"
                to="#10b981"
              ></app-ring>
              <span class="text-sm whitespace-nowrap font-light w-20 ml-2"
                >Posts (4/5)</span
              >
            </div>

            <!-- 2) Posts ring (again) -->
            <div class="flex items-center space-x-2">
              <app-ring
                class="w-8 h-8"
                percentage="80"
                from="#3b82f6"
                to="#10b981"
              ></app-ring>
              <span class="text-sm whitespace-nowrap font-light w-20 ml-2"
                >Posts (4/5)</span
              >
            </div>

            <!-- 3) Likes ring -->
            <div class="flex items-center space-x-2">
              <app-ring
                class="w-8 h-8"
                percentage="40"
                from="#f97316"
                to="#eab308"
              ></app-ring>
              <span class="text-sm whitespace-nowrap font-light w-20 ml-2"
                >Likes (2/5)</span
              >
            </div>

            <!-- 4) Likes ring (again) -->
            <div class="flex items-center space-x-2">
              <app-ring
                class="w-8 h-8"
                percentage="40"
                from="#f97316"
                to="#eab308"
              ></app-ring>
              <span class="text-sm whitespace-nowrap font-light w-20 ml-2"
                >Likes (2/5)</span
              >
            </div>
          </div>

          <!-- Points Bars -->
          <div class="w-[95%] mb-1">
            <div class="flex items-center justify-between mb-1">
              <span class="text-xs font-light">Points</span>
              <span class="text-xs font-light">1,345</span>
            </div>
            <app-bar></app-bar>
          </div>

          <div class="w-[95%] mt-1">
            <div class="flex items-center justify-between mb-1">
              <span class="text-xs font-light">Points</span>
              <span class="text-xs font-light">1,345</span>
            </div>
            <app-bar></app-bar>
          </div>
        </div>
      </div>

      <!-- Right Section -->
      <div
        class="flex flex-col w-full md:w-2/3 p-6 text-sm leading-relaxed w-3xl right-panel-margin md:right-panel-mobile"
      >
        <div class="h-[50%] w-full flex flex-col mb-2">
          <div class="grow-1"></div>
          <p class="opacity-60 text-xs font-light pl-7 py-[0.8px] mb-[1px]">
            Initializing application...
          </p>
          <p
            class="opacity-60 text-[0.5rem] font-light pl-7 py-[0.8px] mb-[1px] ml-1"
          >
            "Hello, it's about something related to crypto... so what I think
            is..."
          </p>
          <p class="opacity-60 text-xs font-light pl-7 py-[0.8px] mb-[1px]">
            Reading topic #3381...
          </p>
          <p class="opacity-60 text-xs font-light pl-7 py-[0.8px] mb-[1px]">
            Find comment #3381-24 interesting...
          </p>
          <p class="opacity-60 text-xs font-light pl-7 py-[0.8px] mb-[1px]">
            Writing comment...
          </p>

          <div class="flex items-center space-x-2 mt-2">
            <span class="loading loading-spinner loading-sm"></span>
            <span class="opacity-100 text-sm"
              >Building new strategy for a topic crypto...
              <div class="digital-cursor"></div
            ></span>
          </div>
        </div>

        <!-- Loading spinner (daisyUI example) -->
        <app-bar></app-bar>

        <div class="mt-6">
          <div class="mb-2 text-sm text-gray-400">Interacting with:</div>
          <div class="rounded-lg bg-gray-800 p-3 transform scale-95">
            <div class="flex items-center">
              <div
                class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-gray-700 text-xs"
              >
                P
              </div>
              <span class="text-sm"
                >What is the best thing about life? Left your comments
                on...</span
              >
            </div>
            <div class="mt-3 flex items-center">
              <div
                class="mr-2 flex h-6 w-6 items-center justify-center rounded-full bg-gray-700 text-xs"
              >
                C
              </div>
              <span class="text-xs text-gray-400"
                >What is the best thing about life? Left your comments
                on...</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-16 opacity-70 hidden">
      <h2 class="mb-4 text-center text-lg font-light text-white">
        Recently created contents
      </h2>
      <div class="space-y-2 mb-2">
        <div
          class="flex items-center justify-between rounded-full bg-gray-900/80 px-5 py-3 text-white"
        >
          <span class="text-sm opacity-80"
            >What is the best thing about life? Left your comments on...</span
          >
          <span class="text-xs text-gray-400 ml-4">2 minutes ago</span>
        </div>
      </div>
      <div class="space-y-2 mb-2">
        <div
          class="flex items-center justify-between rounded-full bg-gray-900/80 px-5 py-3 text-white"
        >
          <span class="text-sm opacity-80"
            >What is the best thing about life? Left your comments on...</span
          >
          <span class="text-xs text-gray-400 ml-4">2 minutes ago</span>
        </div>
      </div>
      <!--
      <div class="mt-4 text-center">
        <button
          class="rounded-full px-4 py-2 text-sm font-medium text-white ring-gray-700 hover:bg-gray-700/50"
        >
          load more
        </button>
      </div>
      -->
    </div>
    }
  </div>
  @if (nfts && nfts.length > 0) {
  <div
    class="absolute bottom-[50%] right-[7%] scale-80 opacity-80 hover:opacity-100"
  >
    <app-btn-create-bot></app-btn-create-bot>
  </div>
  }
</div>
